/* proprietà generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', Arial;
    color: white;
}

/* proprietà della parte centrale */
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 42, 42);
}

.container{
    display: flex;
    margin: 0 auto;
    width: 60%;
    background-color: #3535EC;
    height: 100%;
    border-radius: 10px;
}

#memory-game{
    /* background-color: yellow; */
    width: calc(100% - 300px)
}

#wrapper,
#board{
    display:flex;
    flex-wrap:wrap;
    padding: 1rem;
}

p,
#errors{
    margin: 1rem 0;
}

p{
    font-size: 20px;
}

#errors{
    font-size: 30px;
}

.cards{
    display: flex;
    justify-content: center;
    position: relative;
    width: calc( 100% / 4);
    height: calc( 100% / 3);
    cursor: pointer;
}

/* impostato su none per nascondere le immagini */
.clickable{
    display: none; 

}

/* impostato su block per mostrare al click le immagini */
.show-image{
    display: block;
}

/* nascondi il retro della card quando cliccata */
.hide-back{
    display: none;
}

.cards img{
    max-width: 100%;
    object-fit: cover;
}

#score{
    /* background-color: green; */
    width: 300px;
}

h1{
    font-size: 50px;
    font-weight: 900;
}

/* proprietà modale */

#modal-box{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;

}

#modal-content{
    background-color: rgb(41, 41, 41);
    margin: 4rem auto;
    border-radius: 10px;
    padding: 2rem;
    width: 500px;
    height: 300px;
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 70px
}

/* pulsante reload */

#reset-btn{
    padding: 0.8rem 1.5rem;
    background-color: green;
    cursor:pointer;
    border: transparent;
    border-radius: 10px;
    margin-top: 1rem;
    transition: 0.3s ease;
}

#reset-btn:hover{
    background-color: darkgreen;
}

@keyframes fadeBox {

    from {
        opacity: 0;
        transform: translateY(-30%)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes colorRotate {
    from {
        color: rgb(64, 11, 144);
    }

    10% {
        color: #9000ff;
    }

    20% {
        color: #0073ff;
    }

    30% {
        color: #15a4a7;
    }

    40% {
        color: #20be45;
    }

    50% {
        color: #fff566;
    }

    60% {
        color: #f4ac28;
    }

    70% {
        color: #f48028;
    }

    80% {
        color: #f44a28;
    }

    90% {
        color: #f42828;
    }

    100% {
        color: #f4287d;
    }
}




