*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', Arial;
    color: white;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    margin: 0 auto;
    width: 60%;
    background-color: dodgerblue;
    height: 100%;
    border-radius: 10px;
}

#memory-game{
    /* background-color: yellow; */
    width: calc(100% - 300px)
}

#wrapper,
#board{
    display:flex;
    flex-wrap:wrap;
    padding: 1rem;
}

p,
#errors{
    margin: 1rem 0;
}

p{
    font-size: 20px;
}

#errors{
    font-size: 30px;
}

.cards{
    display: flex;
    justify-content: center;
    position: relative;
    width: calc( 100% / 4);
    height: calc( 100% / 3);
    cursor: pointer;
}

/* impostato su none per nascondere le immagini */
.clickable{
    display: none; 

}

/* impostato su block per mostrare al click le immagini */
.show-image{
    display: block;
}

/* nascondi il retro della card quando cliccata */
.hide-back{
    display: none;
}

.cards img{
    max-width: 100%;
    object-fit: cover;
}

#score{
    /* background-color: green; */
    width: 300px;
}

h1{
    font-size: 50px;
    font-weight: 900;
}

